<%
var data = jsonData;
-%>
<html>
<!-- head -->
<head>
<%- include('./_inc/_head', {data: data}) %>
</head>
<!-- /head -->
<body>
<!-- header -->
<% if (data.ja) { -%>
    <%- include('./_inc/_header', {data: data}) %>
        <% } else { -%>
    <%- include('./_inc/_header-en', {data: data}) %>
<% } %>
<!-- /header -->
<!-- main -->
<%- include('./_pages' + data.dir + data.name , {data: data}) %>
<% if (data.clm) { -%>
    <%- include('./_inc/_info-clm', {data: data}) %>
<% } else { -%>
<% } %>
<!-- /main -->
<!-- footer -->
<% if (data.ja) { -%>
    <%- include('./_inc/_footer', {data: data}) %>
        <% } else { -%>
    <%- include('./_inc/_footer-en', {data: data}) %>
<% } %>
<!-- /footer -->
<script src="/assets/js/app.js"></script>
</body>
</html>